.pageWrapper {
	width: 100vw;
	height: 100vh;
	padding: 0 240px;

	.lines {
		width: 100%;
		height: 100%;
		position: relative;

		.verticalLine {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 1px;
			height: 100%;
			background-color: rgba(66, 86, 122, 0.2);
		}

		.horizontalLine {
			z-index: 1;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			height: 1px;
			width: 100%;
			background-color: rgba(66, 86, 122, 0.2);
		}

		.leftLimit {
			position: absolute;
			left: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background-color: rgba(66, 86, 122, 0.2);
		}

		.rightLimit {
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background-color: rgba(66, 86, 122, 0.2);
		}
	}
}
