.circle {
	position: relative;
	width: 420px;
	height: 420px;
	margin-top: -60px;
	border-radius: 50%;
	border: 1px solid rgba(66, 86, 122, 0.2);
	overflow: visible;
	z-index: 5;

	.point {
		z-index: 2;
		cursor: pointer;
		position: absolute;
		width: 6px;
		height: 6px;
		background-color: #42567a;
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}

	.current {
		z-index: 10;
		cursor: pointer;
		position: absolute;
		background-color: #f4f5f9;
		border: 1px solid rgba(48, 62, 88, 0.5);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		line-height: 30px;
		padding: 13px 23px;

		.category {
			position: absolute;
			top: 50%;
			transform: translate(40px, -50%);
			font-size: 20px;
			font-weight: 700;
			line-height: 30px;
			color: #42567a;
		}
	}
}
