.dates {
	display: flex;
	gap: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	pointer-events: none;

	& > div {
		font-size: 140px;
		font-weight: 700;
	}

	.leftSide {
		color: #3877ee;
	}

	.rightSide {
		color: #ef5da8;
	}
}
